body{
    background-color: #fcfcfc;
 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.nav{
    position: relative;
    color: white;
    text-align: center;
    padding: 10px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3d3d3f4;
    backdrop-filter: blur(10px);
    z-index: 1000;
    display: none;
}
#logo-AI{
    width: 80px;
    height:  50px;
    margin-left: 10px;
    padding: auto;
}
#logo-TG{
    width: 100px;
    height:  40px;
    margin-left: 10px;
    padding-left: 20px;
}

.nav-btn{
    
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.main{
    height: 300vh ;
}
.part1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url(/img/BG-l.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    backdrop-filter: blur(10px);


}
.part2{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#part2-title{
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #f8F8F8;
    border-radius: 10px;
    
}
#logo-main{
    width: 25%;
    height:  25%;
    padding-right: 3%;
}


@media (min-width: 768px){
    #logo-main{
        width: 22%;
        height:  22%;
        padding-right: 3%;
    }
    
}
@media (max-width: 768px){
    #logo-main{
        width: 25%;
        height:  25%;
        padding-right: 3%;
    }
    
}
@media (max-width: 375px){
    #logo-main{
        width: 37%;
        height:  30%;
        padding-right: 3%;
    }
    
}

.footer{

    position: relative;
    background-color: #d3d3d3f4;
    color: white;
    text-align: center;
    /* padding: 10px; */
    height: 50px;
    width: 100%;
}